<div class="row">
  <div class="col-xs-12">
    <img src="{{ selectedRecipe?.imagePath}}" alt="{{ selectedRecipe?.imagePath}}" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe?.name }}</h1>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" (click)="onAddToShoppingList()">
      To Shopping List
    </button>
    <button type="button" class="btn btn-primary" (click)="onEdit()">
      Edit
    </button>
    <button type="button" class="btn btn-danger">
      Delete
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <p>
        {{ selectedRecipe?.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe?.ingredients">{{ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
<rb-shopping-list></rb-shopping-list>
