<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Recipe Book</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
        <li><a routerLink="/shopping" routerLinkActive="active">Shopping</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" rbDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu" *ngIf="!authService.isLoggedIn">
            <li><a routerLink="/login" >Login</a></li>
          </ul>
          <ul class="dropdown-menu" *ngIf="authService.isLoggedIn">
            <li><a routerLink="/my-account" >My Account</a></li>
            <li><a routerLink="/my-account/edit" >Edit Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/logout" >Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
