<div class="row">
  <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
          <div class="row">
            <div class="col-sm-5 form-group">
              <label for="item-name">Name</label>
              <input type="text" id="item-name" required class="form-control" [ngModel]="ingredient.name" name="name">
            </div>
            <div class="col-sm-2 form-group">
              <label for="item-amount">Amount</label>
              <input type="text" id="item-amount" required class="form-control"  [ngModel]="ingredient.amount" name="amount">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-success" *ngIf="isAdd" [disabled]="!f.valid">
                Add
              </button>
              <button type="submit" class="btn btn-success" *ngIf="!isAdd" [disabled]="!f.valid">
                Save
              </button>
              <button type="button" class="btn btn-danger" (click)="onDeleteClick()" *ngIf="!isAdd" [disabled]="!f.valid">
                Delete item
              </button>
              <button type="button" class="btn btn-primary" (click)="onClearClick()" *ngIf="!isAdd" [disabled]="!f.valid">
                Clear
              </button>
            </div>
          </div>
      </form>
  </div>
</div>
