<div class="row">
  <div class="col-xs-10">
      <rb-shopping-list-add [ingredient]="selectedItem" (cleared)="onCleared()"></rb-shopping-list-add>
    <hr />
    <ul class="list-group">
      <li class="list-group-item" style="" *ngFor="let ingredient of ingredients" (click)="onSelectItem(ingredient)">{{ingredient.name}} ({{ingredient.amount}})</li>
    </ul>
  </div>
</div>
