<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success">
        New Recipe
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group" >
        <li *ngFor="let recipe of recipes" class="list-group-item">
            <rb-recipe-item [recipe]="recipe"></rb-recipe-item>
        </li>
    </ul>

  </div>
</div>
