<a class="list-group-item clearfix" [routerLink]="['/recipes', recipe.id]" [queryParams]="{'test1':'1', 'test2':'2'}" [fragment]="'anchor'">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="pull-right">
        <img src="{{recipe.imagePath}}" class="img-responsive" style="max-width: 48px" />
    </div>
</a>
